<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>post id</title>
</head>
<body>
  <h3>This is your post</h3>
  <p>id: <%= post.id %></p>
  <div>
    <h3>username: <%=post.username%> </h3>
    <h4>content: <%= post.content%></h4>
  </div>
  
</body>
</html>